file_store/
*.log
vendor/
.htaccess
*.txt
docker/local-data
/src
/mysql
/documentation
/html
/file_store
/ideas
/job_queue
/logs
/xsd
/docker/docker_setup.bat
/docker/src/config.ini
/docker/src/baremetal-config.ini
/config.ini
/init.cfg
/docker/init.cfg
/docker/.env
.env

